<main  class="recipes flex p-5 flex-wrap shadow-lg">


{{#if favorites}}
    {{#each favorites}}
         <div  class="recipe-card flex flex-col justify-center align-center">
            <a href="/recipe/{{this.recipeId}}">
                <img src="{{this.image}}" width="312" height="231" class="m-auto" alt="">
                <h3 class="text-center text-xl">{{this.title}}</h3>
                {{!-- <button class= "remove-button"  data-recipe-id="{{this.recipeId}}" style="font-size: 25px; padding: 5px;" >&#128465;</button> --}}
                <button class=" remove-button inline-flex items-center mt-2 px-2 py-1 bg-red-400 hover:bg-red-700 text-white text-sm font-medium rounded-md" data-recipe-id="{{this.recipeId}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                    Delete
                </button>
            </a>
        </div>
    {{/each}}
  {{else}}
      <p class="text-center">Please <a class="text-orange-400" href="/">search</a> to add to favorites</p>
{{/if}}
</main>



<script src="/js/remove.js"></script>



  {{!-- <button class=" remove-button inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md" data-recipe-id="{{this.recipeId}}">
	<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
	  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
	</svg>
	Delete
  </button> --}}

 