<main  class="recipes flex p-5 flex-wrap shadow-lg">


{{#if favorites}}
    {{#each favorites}}
         <div  class="recipe-card flex flex-col justify-center align-center">
            <a href="/recipe/{{this.recipeId}}">
                <img src="{{this.image}}" width="312" height="231" class="m-auto" alt="">
                <h3 class="text-center text-xl">{{this.title}}</h3>
                <button class= "remove-button"  data-recipe-id="{{this.recipeId}}" style="font-size: 25px; padding: 5px;" >&#128465;</button>
            </a>
        </div>
    {{/each}}
  {{else}}
      <p class="text-center">Please <a class="text-orange-400" href="/">search</a> to add to favorites</p>
{{/if}}
</main>



<script src="/js/remove.js"></script>
